body {
	margin: 0;
	font-size: 30px;
	background: #fff000;
}

img {
	max-width: 100%;
}

.target-image {
	margin: 0;
	text-align: center;
	line-height: 0;
}

.target-image img {
	width: 600px;
}

.progress {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 10px;
	background: deeppink;
	transform-origin: left;
}

.text {
	max-width: 50%;
	margin: 5rem auto;
}